*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/material_theme_project_new.xmljava_pid46545.hprof
java_pid50413.hprof 
/app/debug/
/buildSrc/build/
debug\
release\
/*/*/build
.idea/deploymentTargetSelector.xml
